<!-- Navigation start! -->
<header class="header-bar">
  <nav class="navbar navbar-expand-lg bg-white fixed-top main-navigation">
    <div class="container">

      <!-- Logo bar -->
      <a href="#" class="navbar-brand">Income Markets</a>

      <!-- Logo bar -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <!-- Main menu -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <!-- Normal tab navigation -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Sobre</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Serviços</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Análises</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contactos</a>
          </li>
        </ul>

        <!-- social media icons -->
        <ul class="extra-nav navbar-nav ml-auto">
          <li>
            <a href="#"><i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
           <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>

        <!-- Login button -->
        <button class="btn btn-outline-hero btn-sm" type="submit">Log in</button>

      </div>
    </div>
  </nav>
  <!-- Navigation end -->
  <!-- Banner start -->
  <div class="banner-main">
    <div class="container">
      <div class="row justify-content-center align-items-center">


        <!-- Catch phrases and CTA's -->
        <div class="col-lg-7 col-md-12">
          <div class="main-banner-content banner-padding text-center text-lg-left">
            <h6 class="subtitle">Nós temos a solução</h6>
            <h1>Plataforma e-learning de Forex.</h1>
            <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house</p>
            <div class="btn-container">
              <a href="#" class="btn btn-hero">Experimente Grátis</a>
              <a href="#" class="btn btn-outline-hero">Contatos</a>
            </div>
          </div>
        </div>


        <!-- Banner main image -->
        <div class="col-lg-5 d-md-none d-lg-block">
          <div class="banner-img-block">
            <%= image_tag 'main-banner.png', class: 'img-fluid' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->
</header>


<!-- intro wrapper start -->
<section id="intro">
  <div class="container">
    <div class="intro-container">
      <div class="row justify-content-center">

        <!-- first catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block mb55">
            <div class="intro-icon">
              <%= image_tag 'zoom.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>

        <!-- second catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block mb55">
            <div class="intro-icon">
              <%= image_tag 'laptop.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>

        <!-- third catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block no-border">
            <div class="intro-icon">
              <%= image_tag 'smartphone.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- wrapper intro end -->
<!-- header navigation end -->
<!-- section wrappers start -->

<section class="section" id="section-process">
  <div class="container">
    <!-- tittle -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">A nossa metodologia</h5>
          <h2 class="h1">trabalhamos com dedicação & profissionalismo</h1>
        </div>
      </div>
    </div>
    <!-- first work process -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'seoimage.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>01</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
      <!-- second work process -->
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'buyimage.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>02</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
      <!-- third work process -->
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'processos.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>03</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
    </div>
    <!-- first box statistic -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">75</span>
            <span>%</span>
          </h2>
          <p>Users recomendam</p>
        </div>
      </div>
      <!-- second box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">984</span>
            <span>+</span>
          </h2>
          <p>Clientes Satisfeitos</p>
        </div>
      </div>
      <!-- third box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">120</span>
            <span>H</span>
          </h2>
          <p>De Conteúdo</p>
        </div>
      </div>
      <!-- fourth box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">1</span>
            <span>k</span>
          </h2>
          <p>Users total</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section process end -->
<!-- section service start -->
